<app-update-notification></app-update-notification>
<mat-sidenav-container class="h-screen">
  <!-- Sidenav for mobile -->
  <mat-sidenav #drawer mode="over" [opened]="false" class="py-3 px-4">
    <nav
      tabindex="0"
      (click)="drawer.close()"
      (keyup)="($event.key === 'Enter' || $event.key === ' ') && drawer.close()"
      role="button"
      aria-label="Close navigation"
    >
      <ng-container *ngTemplateOutlet="nav"></ng-container>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="isMobile" color="primary" class="flexs items-center">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        class="mt-[7px] mr-3 cursor-wpointer"
        aria-label="Toggle navigation"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <main
      class="min-height-screen flex w-full pb-6"
      [class.justify-center]="!isMobile"
    >
      <!-- Main content area -->
      <div
        *ngIf="(isHomePage$ | async) === false"
        class="flex-1 px-4 w-full max-w-4xl min-w-0"
        [class.mr-4]="!isMobile"
      >
        <router-outlet></router-outlet>
      </div>

      <div *ngIf="isHomePage$ | async" class="flex-1 px-4">
        <router-outlet></router-outlet>
      </div>

      <div
        *ngIf="(isHomePage$ | async) === false && !isMobile"
        class="w-px divider flex-shrink-0"
        role="separator"
        aria-label="Divider"
      ></div>

      <!-- Sidebar - only show when not on home page -->
      <aside
        *ngIf="(isHomePage$ | async) === false && !isMobile"
        class="w-80 flex-shrink-0 px-3"
      >
        <ng-container *ngTemplateOutlet="nav"></ng-container>
      </aside>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #nav>
  <a
    routerLink="/"
    class="root-font flex justify-center items-center hover:bg-gray-100 hover:scale-105 no-underline text-inherit transition-all duration-200 ease-in-out rounded-lg px-2"
  >
    <span class="font-semibold mr-2 text-xl">Runner</span>
    <img src="icons/icon-48x48.png" alt="Runner Toolkit" class="w-[48px]" />
    <span class="font-semibold text-xl">Toolkit</span>
  </a>
  <div class="pt-3 overflow-y-auto">
    <mat-nav-list class="space-y-2">
      @for (nav of navigation$ | async; track $index) {
        <div>
          <div class="text-sm font-semibold uppercase tracking-wide mb-1">
            {{ nav.title }}
          </div>
          @for (link of nav.links; track $index) {
            <div
              routerLinkActive="bg-blue-100 link-active rounded-4xl"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a mat-list-item [routerLink]="link.link" class="pl-4">{{
                link.text
              }}</a>
            </div>
          }
        </div>
      }
    </mat-nav-list>

    <div class="m-3 flex gap-x-5">
      <app-unit-store-selector />
      <!-- <app-language-store-selector /> -->
    </div>

    <app-version-display />
  </div>
</ng-template>
